<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Aktifitas | ePerpustakaan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Aktifitas Peminjaman
    </ion-list-header>

    <ion-virtual-scroll [items]="dataList">
      <ion-item *virtualItem="let item">
        <!-- <ion-avatar slot="start">
          <img src="{{serverUrl}}{{item.cover}}">
        </ion-avatar> -->
        <ion-thumbnail slot="start">
          <ion-img [src]="serverUrl + item.cover"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h3>{{item.author}}</h3>
          <h2>{{item.title}}</h2>
          <p>Deskripsi</p>
        </ion-label>
        <ion-button (click)="returnBook(item.id)" expand="block" color="danger" disabled>
          SELESAI
        </ion-button>
        <!-- <ion-text color="secondary">
          <small>{{item.updated_at}}</small>
        </ion-text> -->
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
  <ion-text *ngIf="dataListLength === total && dataListLength !== 0">
    <br>
    <h6 class="recently_borrowed">Anda telah sampai ke bagian paling bawah</h6>
  </ion-text>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>