<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>List Buku | ePerpustakaan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable class="dark" [limit]="8" [rows]="rows" [rowHeight]="50" [columns]="columns"
      [columnMode]="'force'" [sortType]="'multi'" [headerHeight]="50" [footerHeight]="50">
    </ngx-datatable>

  </div>
</ion-content>