<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tentang | ePerpustakaan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>ePerpustakaan</strong></ion-text>
      </h1>

      <p margin-bottom>
        Aplikasi e-Perpustakaan merupakan aplikasi perpustakaan cross-platform yang dapat diakses melalui android maupun
        web dengan menggunakan SATU DATABASE.
      </p>
      <br>
      <p>
        Kegunaan Aplikasi ePerpustakaan yaitu:
      </p>
      <ul>
        <li>Mempermudah peminjaman buku di perpustakaan</li>
        <li>Mempermudah dalam mengakses data di berbagai platform yaitu melalui Android dan Website.</li>
        <li>Mempermudah pencarian buku yang ingin dipinjam</li>
        <li>Dapat mengetahui stok buku yang tersedia di perpustakaan</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>