<ion-header>
  <ion-toolbar>
    <ion-title>Daftar | ePerpustakaan</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div>
      <ion-item>
        <ion-input type="text" placeholder="Nama" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="c_password"></ion-input>
      </ion-item>
      <ion-button expand="full" class="ion-padding" (click)="tryRegister()">Daftar</ion-button>
    </div>
  </ion-list>
</ion-content>