.profile-photo {
  padding-top: 5px;
  border-radius: 50%;
  height: 150px;
  width: auto;
  margin: auto;
  display: block;
}

.profile-greeting {
  width: auto;
  margin: auto;
  display: block;
  text-align: center;
}

.profile-name {
  width: auto;
  margin: auto;
  display: block;
  text-align: center;
}

.recently_borrowed {
  width: auto;
  margin: auto;
  display: block;
  text-align: center;
}
