<ion-content>
  <ion-slides pager="true">
    <ion-slide class="slide-one">
      <ion-img src="/assets/icon/favicon.png"></ion-img>
      <h1>ePerpustakaan</h1>
      <p class="labelIntro">
        Aplikasi perpustakaan cross-platform<br/>
        <span>Membuat perpustakaan bisa diakses dimana saja</span>
      </p>
    </ion-slide>
    <ion-slide class="slide-two">
      <ion-img src="/assets/icon/favicon.png"></ion-img>
      <p class="labelIntro">
        Hi. Selamat datang
      </p>
      <ion-button (click)="openLogin()">Masuk sekarang!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
